'Process' => array(
    'routes' => array(
        array('GET'     , '/oapi-p', false, 'Process::hello'),
        array('GET'     , '/oapi-p/conformance', false, 'Process::conformance'),
        array('GET'     , '/oapi-p/service-desc', false, 'Process::api'),
        array('GET'     , '/oapi-p/processes', false, 'Process::getProcesses'),
        array('GET'     , '/oapi-p/processes/{processId}', false, 'Process::getProcess'),
        array('GET'     , '/oapi-p/jobs', false, 'Process::getJobs'),
        array('GET'     , '/oapi-p/jobs/{jobId}', false, 'Process::getJob'),
        array('GET'     , '/oapi-p/jobs/{jobId}/results', false, 'Process::getResults'),       
        array('POST'    , '/oapi-p/processes', true, 'Process::addProcess'),
        array('POST'    , '/oapi-p/processes/{processId}/execution', true, 'Process::executeProcess'),
        array('DELETE'  , '/oapi-p/jobs/{jobId}', true, 'Process::deleteJob')
    )
)