'Process' => array(
    'routes' => array(
        array('GET'     , '/processes', false, 'Process::getProcesses'),
        array('GET'     , '/processes/{processId}', false, 'Process::getProcess'),
        array('GET'     , '/jobs', true, 'Process::getJobs'),
        array('GET'     , '/jobs/{jobId}', true, 'Process::getJob'),
        array('GET'     , '/jobs/{jobId}/result', true, 'Process::getResult'),       
        array('POST'    , '/processes', true, 'Process::addProcess'),
        array('POST'    , '/processes/{processId}/execution', true, 'Process::executeProcess'),
        array('DELETE'  , '/jobs/{jobId}', true, 'Process::deleteJob')
    )
)