'Process' => array(
    'options' => array(
        'executionUnit' => array(
            'host' => '${ADDON_PROCESS_EXECUTION_UNIT_HOST:-tcp://host.docker.internal:2375}',
            'ssl' => ${ADDON_PROCESS_EXECUTION_UNIT_SSL:-false},
        )
    ),
    'routes' => array(
        array('GET'     , '/oapi-p', false, 'Process::hello'),
        array('GET'     , '/oapi-p/conformance', false, 'Process::conformance'),
        array('GET'     , '/oapi-p/service-desc', false, 'Process::api'),
        array('GET'     , '/oapi-p/processes', false, 'Process::getProcesses'),
        array('GET'     , '/oapi-p/processes/{processId}', false, 'Process::getProcess'),
        array('GET'     , '/oapi-p/jobs', false, 'Process::getJobs'),
        array('GET'     , '/oapi-p/jobs/{jobId}', false, 'Process::getJob'),
        array('PUT'     , '/oapi-p/jobs/{jobId}', false, 'Process::updateJob'),
        array('GET'     , '/oapi-p/jobs/{jobId}/results', false, 'Process::getResults'),
        array('POST'    , '/oapi-p/processes', true, 'Process::deploy'),
        array('POST'    , '/oapi-p/processes/{processId}/execution', true, 'Process::executeProcess'),
        array('PUT'     , '/oapi-p/processes/{processId}', true, 'Process::replace'),
        array('DELETE'  , '/oapi-p/processes/{processId}', true, 'Process::undeploy'),
        array('DELETE'  , '/oapi-p/jobs/{jobId}', true, 'Process::deleteJob')
    )
)